.usuario-insert input{
    background: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    font-size: 26px;
    color: dimgray;
}

.usuario-insert label{
    font-size: 30px;
    color: black;
    font-weight: bold;
}

#radio{
    margin-left: 1%;
}
#nome{
    margin-left: 77px;
}
#matricula{
    margin-left: 24px;
}
#cidade{
    margin-left: 60px;
}
#estado{
    margin-left: 64px;
}